[Unit]
Description=Anonymizing overlay network for TCP
After=network-online.target nss-lookup.target
PartOf=anon.service
ReloadPropagatedFrom=anon.service

[Service]
Type=notify
NotifyAccess=all
PIDFile=/run/anon/anon.pid
PermissionsStartOnly=yes
ExecStartPre=/usr/bin/install -Z -m 02755 -o debian-anon -g debian-anon -d /run/anon
ExecStartPre=/usr/bin/anon --defaults-anonrc /usr/share/anon/anon-service-defaults-anonrc -f /etc/anon/anonrc --RunAsDaemon 0 --verify-config
ExecStart=/usr/bin/anon --defaults-anonrc /usr/share/anon/anon-service-defaults-anonrc -f /etc/anon/anonrc --RunAsDaemon 0
ExecReload=/bin/kill -HUP ${MAINPID}
KillSignal=SIGINT
TimeoutStartSec=300
TimeoutStopSec=60
Restart=on-failure
LimitNOFILE=65536

# Hardening
AppArmorProfile=-system_anon
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/proc
ReadWriteDirectories=-/var/lib/anon
ReadWriteDirectories=-/var/log/anon
ReadWriteDirectories=-/run
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH
