name: Stage Deploy

on:
  workflow_dispatch:
  workflow_call:

env:
  image-name: ghcr.io/ator-development/ator-protocol-stage
  image-tag: ${{ github.event_name == 'workflow_call' && 'latest' || github.sha }}
  da-1-hc-url: http://88.99.219.105:9130/tor/status-vote/current/consensus
  da-2-hc-url: http://176.9.29.53:9130/tor/status-vote/current/consensus
  da-3-hc-url: http://95.216.32.105:9130/tor/status-vote/current/consensus
  da-4-hc-url: http://176.9.29.53:9131/tor/status-vote/current/consensus
  da-5-hc-url: http://176.9.29.53:9132/tor/status-vote/current/consensus
  da-6-hc-url: http://95.216.32.105:9131/tor/status-vote/current/consensus
  da-7-hc-url: http://95.216.32.105:9132/tor/status-vote/current/consensus

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Deploy new version 
        uses: ./.github/actions/deploy
        with:
          image-tag: ${{ env.image-tag }}
          nomad-job-file: anon-da-node-stage.hcl
          health-checks: "${{ env.da-1-hc-url }}|${{ env.da-2-hc-url }}|${{ env.da-3-hc-url }}"
          nomad-cacert: operations/admin-ui-ca.crt
          nomad-token: ${{ secrets.NOMAD_TOKEN_ATOR_NETWORK_DEPLOY }}
          nomad-addr: ${{ secrets.NOMAD_DEPLOY_ADDR }}
          consul-cacert: operations/admin-ui-ca.crt
          consul-http-token: ${{ secrets.CONSUL_HTTP_TOKEN_ATOR_NETWORK_DEPLOY }}
          consul-addr: ${{ secrets.CONSUL_DEPLOY_ADDR }}
